* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    
    font-family: "consolas";
  }
  
  a {
    text-decoration: none;
    position: absolute center;
    
    top:0px
  }
  
 
  
  .container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
  }
  
  .top-wrapper {
    padding: 100px 0 100px 0;
    background-image: url(ds10.jpg);
    background-size: cover;
    color: rgba(253, 253, 253, 0.87);
    text-align: center;
  }
  .top-wrapper span{
    color:deepskyblue;
    text-decoration-color: cornflowerblue;
  }
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 15px;
    
  }
  .top-wrapper span  {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
    color: ghostwhite;
    margin-bottom: 50px;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .google {
    background-color: #be2d2d;
    margin-left: 10px;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
    margin-left: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  a{
    text-decoration: none;
  }
  /.message-wrapper a{
    margin:0;
    position:absolute;
    
  }
  .clear{
    clear:left;
  }
.slide {
  width: auto;
  height: 100%;
  position: relative;
}
.slide1, .slide2, .slide3 {
  position: absolute;
  height: 100%;
  width: 100%;
}
.slide1 {
  background: url(slide.jpg) no-repeat center;
  background-size: cover;
  animation: fade 8s infinite;
  -webkit-animation:fade 8s infinite ;
}
.slide2 {
  background: url(slide1.jpg) no-repeat center;
  background-size: cover;
  animation: fade2 8s infinite;
  -webkit-animation:fade2 8s infinite ;
}
.slide3 {
  background: url(slide2.jpg) no-repeat center;
  background-size: cover;
  animation: fade3 8s infinite;
  -webkit-animation:fade3 8s infinite ;
}
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .menu-icon{
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  
  .lesson-wrapper {
    padding-bottom: 80px;
    background-position: center;
    background-color: #a8d4e9;
    text-align: center;
    background-image: url(ds9.jpg);

    display: flex;
    background-size: cover;
    justify-content:center;
    
    align-items: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #e0a1ff;

  }

  .message-wrapper .heading {
    display: block;
    border-radius: 4px;
    background-color: rgba(15, 104, 92, 0.9);
    block-size: auto;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 0;
    text-align: center;
    align-items: center;
    width:100%;;
    
  }
  .message-wrapper h2{
    color:silver;
  }
  .message-wrapper h3{
color: thistle;
  }

  .message {
    padding: 15px 40px;
    background-color: rgba(197, 124, 179, 0.8);
    cursor: pointer;
    box-shadow: 0 7px #f01d91;
    margin-bottom: 10px;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
  }

  .container .card {
    position: relative;
    cursor: pointer;
  }

  .container .card .face{
    width: 300px;
    height: 300px;
    transition: 0.5s;

  }

  .container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(300px);
  }

  .container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);

  }

  .container .card .face.face1 .content {
    opacity : 0.5;
    transition: 0.5;

  }

  .container .card:hover .face.face1 .content{
    opacity:1;
  }

  .container .card .face.face1 .content img{
    max-width: 100px;
  }

  .container .card .face.face1 .content h3{
    margin : 20px 0 0;
    padding:0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
  }

  .container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(197, 124, 179, 0.8);
    transform: translateY(0);
  }

  .container .card:hover .face.face2{
    transform: translateY(0);
  }

  .container .card .face.face2 content p{
    margin: 0;
    padding:0 ;
  }

  .container .card .face.face2 content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
  }

  .container .card .face.face2 .content a:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(15, 104, 92, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: "Lucida Grande";

}
.logo {
    width: 124px;
    margin-top: 20px;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
    margin-right: -25px;
}
.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}
.header-right a:hover {
    background-color: rgba(46, 216, 193, 0.671);
}
.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

@keyframes fade {
  0% {opacity:1 ;}
  33.333% {opacity:0 ;}
  66.666% {opacity:0 ;}
  100% {opacity:1 ;}
}
@keyframes fade2 {
  0% {opacity: 0;}
  33.333% {opacity: 1;}
  66.666% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade3 {
  0% {opacity:0 ;}
  33.333% {opacity:0 ;}
  66.666% {opacity: 1;}
  100% {opacity: 0;}
}
